.h1{
    font-family: Arial, sans-serif; 
    width: 50%; margin-left: 20px
}
.p{
    font-family: Arial, sans-serif; 
    width:80%; margin-left: 25px; 
    margin-bottom: 40px;
}
.p img{
    width: 80%; 
    height: 450px; 
    border-radius: 20px; 
    margin-left: 15px
}
.n1{
    background-color:#F0F0F0; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.n2{
    background-color:white; 
    width:80%;
}