{% extends "home.html" %}
{% load static %}

{% block porsche %}
<link rel="stylesheet" href="{% static 'css/car.css' %}">
  <div class="n1">
      <div class="n2">
      <h1>Новый Porsche 911 Turbo S Купе: Идеальное Сочетание Скорости и Роскоши Прибывает в Казахстан</h1>
      <img src="{% static 'media/porsche.png' %}" alt="porsche img">
      <p>
      <br>
      На автомобильном горизонте Казахстана зажглись новые огни с прибытием великолепного Porsche 911 Turbo S Купе. 
      Этот икона мирового автопрома, пропитанная спортивной элегантностью и техническим совершенством, призвана завоевать сердца поклонников автомобильного искусства в этой стране. 
      Давайте рассмотрим, что делает этот автомобиль таким особенным и как его цена соотносится с его впечатляющими характеристиками.
      </p>
      <img src="{% static 'media/porsche2.png' %}" alt="porsche img">
        
      </div>   
  </div>
  
{% endblock porsche %}


{% block c_content %}
  
{% endblock c_content %}  
