<!-- About US -->
{% extends "home.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/inform.css' %}">

  {% block inf %}
  <link rel="stylesheet" href="{% static 'css/inform.css' %}">
  <div class="container">
    <h1>MTM Redaction</h1>
    <div class="section">
      <h2 class="section-title">О нашем проекте</h2>
      <p class="section-content">"MTM Redaction" - это новостной блог, основанный в 2017 году. Проект был признан и награжден в различных номинациях за выдающиеся достижения в сфере редактуры и журналистики. Его команда профессионалов постоянно стремится к высокому качеству информации и точности в своих публикациях, что признано как внутри отрасли, так и широкой аудиторией.</p>
    </div>
    <div class="section"> 
      <h2 class="section-title">Наша задача и миссия</h2>
      <p class="section-content">Миссия проекта "MTM Redaction" на казахстанском рынке заключается в предоставлении качественной и объективной информации о текущих событиях, анализе важных тем и тенденций для местной аудитории. Они стремятся быть главным источником новостей и аналитики, помогая своим читателям быть информированными и принимать обоснованные решения.</p>
    </div>
    <div class="section">
      <h2 class="section-title">Наши Контакты</h2>
      <p class="section-content">Вы можете связаться с нами, оставив отзывы и добавив свои предложения на почте mtm_red@mail.ru</p>
    </div>
  </div>
  {% endblock inf %}

  {% block c_content %}
  
  {% endblock c_content %}  

